* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #121212;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #FFFFFF;
  background-color: #121212;
  font-size: 24px;
  padding-top: 5px;
  padding-bottom: 5px;
  user-select: none;
}

.topic {
  cursor: pointer;
}

.animation-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bubbles {
  position: relative;
  display: flex;
}

.bubbles span {
  position: relative;
  width: 50px;
  height: 50px;
  background: #0AD3FF;
  margin: 4 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #0AD3FF,
  0 0 50px #0AD3FF,
  0 0 100px #0AD3FF;
  animation: float 15s linear infinite;
  animation-duration: calc(125s/ var(--i));
  z-index: 0;
}

.bubbles .middle {
  position: relative;
  width: 50px;
  height: 50px;
  background: #0AD3FF;
  margin: 4 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #0AD3FF,
  0 0 50px #0AD3FF,
  0 0 100px #0AD3FF;
  animation: floatMiddle 15s linear infinite;
  animation-duration: calc(125s/ var(--i));
  z-index: 0;
}

.bubbles span:nth-child(even) {
  background: #BB86FC;
  box-shadow: 0 0 0 10px #BB86FC,
  0 0 50px #BB86FC,
  0 0 100px #BB86FC;
}

.bubbles span:nth-child(3n) {
  background: #78FFD6;
  box-shadow: 0 0 0 10px #78FFD6,
  0 0 50px #78FFD6,
  0 0 100px #78FFD6;
}

.center-text {
  display:flex;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
  color: #FFFFFF;
  position: absolute;
  z-index: 1;
  user-select: none;
}

.title {
  font-size: 128px;
  text-shadow: 1px 1px 1000px #FFFFFF;
}

.arrow {
  font-size: 64px;
  cursor: pointer;
  text-shadow: 1px 1px 1000px #FFFFFF;
  animation: arrowBounce 1.25s infinite;
}

.about {
  background-color: #1a1a1a;
  color: #FFFFFF;
}

@keyframes float {
  0%
  {
    transform: translateY(100vh) scale(0);
  }
  100% {
    transform: translateY(-10vh) scale(1);
  }
}

@keyframes floatMiddle {
  0%
  {
    transform: translateY(100vh) scale(0);
  }
  50% {
    opacity: 0%;
  }

  70% {
    opacity: 0%;
  }
}


@keyframes arrowBounce {
  0% {
    transform: translatey(7.5%)
  }
  50% {
    transform: translatey(-7.5%)
  }
  100% {
    transform: translatey(7.5%)
  }
}