* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #0C192C;
}

.navbar {
  position: absolute;
  opacity: 100%;
  width: 100%;
  z-index: 1;
  margin-top: 5px;
  margin-bottom: 5px;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #FFFDD0;
  font-size: 18px;
}

.animation-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bubbles {
  position: relative;
  display: flex;
}

.bubbles span {
  position: relative;
  width: 50px;
  height: 50px;
  background: #4FC3DC;
  margin: 4 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4FC3DC44,
  0 0 50px #4FC3DC,
  0 0 100px #4FC3DC;
  animation: float 15s linear infinite;
  animation-duration: calc(125s/ var(--i));
}

.bubbles span:nth-child(even) {
  background: #FF2D75;
  box-shadow: 0 0 0 10px #FF2D75,
  0 0 50px #FF2D75,
  0 0 100px #FF2D75;
}

.bubbles span:nth-child(3n) {
  background: #FFFDD0;
  box-shadow: 0 0 0 10px #FFFDD0,
  0 0 50px #FFFDD0,
  0 0 100px #FFFDD0;
}

.center-text {
  display:flex;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.welcome {
  display: flex;
  display: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75%;
  color: #FFFFFF;
  position: absolute;
  z-index: 1;
}

.title {
  font-size: 124px;
}

@keyframes float {
  0%
  {
    transform: translateY(100vh) scale(0);
  }
  100% {
    transform: translateY(-10vh) scale(1);
  }
}