html ,body {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
  }

#welcome-container {
    height: 100%;
    background-color: #00A8E8;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    animation-duration: 2s;
}

#welcome-container.transition {
    animation: slideOut 2s forwards;
}

#welcome-container-inner {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:  center;
}

#welcome-text {
    display: flex;
    align-items: center;
    font-family: "Brush Script MT", cursive;
    font-size: 64px;
    user-select: none;
    margin: 0;
}

#welcome-button {
    border:none;
    background:none;
    margin: 0;
    padding: 0;
}
#welcome-arrow {
    cursor:pointer;
    font-size: 64px;
    margin: 0;
}

@keyframes slideOut {
    0% {
      transform: translateY(0%) scale(1);
    }
    100% {
      transform: translateY(-100%) scale(1);
    }
  }